@import "../styles/variables.scss";

.App {
    position: relative;
    max-width: $srceen-widths-desktop;
    margin: 0 auto;
    background-color: $base-background-color;
    padding-top: 120px;
    //min-height: 100vh;
}

@media screen and (max-width: $srceen-widths-mobile-trigger) {
    .App {
        //max-width: $srceen-widths-mobile;
    }
}
