//colors
$base-primary-color: #5CA5A5;
$base-background-list-color: white;

$base-background-color: #EFFAFA;
$base-filters-tablet-color: rgb(92, 165, 165, 0.1);
$base-headers-color: #2B3939;
$base-secondary-text-color: #7C8F8F;
$base-hover-close: #2B3939;

//screen widths
$srceen-widths-desktop: 1440px;
$srceen-widths-mobile: 375px;